/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
   }
    
   /**************************************************/
   /*-------------GENERAL style ELEMENTS-------------*/
   /* HIDE ELEMENTS*/
   .hide-elements {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
   }

.main-background{
position: relative;
   /* background-color: #e5f1fa;
    height: 900px; */
    background-image: url(../images/background-blue.jpeg);
    height: 77vh;
    width: 100%;
    background-size: contain;
}
.backgound-img-main{
    display: flex;
    position: absolute;
    top:0;
    width: 100%;
}

.backgound-img-main >img{
    width: 50%;
    position: sticky;
}

.navigation{
    top: 2em;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.3em;

}
.navigation ul {
    list-style-type: none;
    padding: 0;
    background-color: #FFFFFF;
    display:flex;
    border-radius: 0.3em;
    width: 50em;
    justify-content: center;
}

.navigation ul li{
    text-align: center;
    padding: 0.5em;
    display: inline-block;
}

.navigation ul li a {
    text-decoration: none;
    vertical-align: sub;
    font-size: 1.3em;
}

.jobs {
    text-align: center;
    background-color: rgb(12,71,116);
    display: block;
    height: 40vh;
    position: relative;
}
.jobs>img{
    position: absolute;
    top: 5em;
    right: 1em;
    width: 20%;
}

button{
    background-color: #FFFFFF;
}

h1 {
    font-size: 2em;
    color: rgb(12, 71, 166);
    text-align: center;
}

h2 {
    margin: 3em 2em;
    padding: 1.5em ;
    color: #FFFFFF;
}

.bookNow {
    text-align: center;
}
.newcolor {
    color: rgb(12,71,116);
    text-align: center;
}

/* image resize*/
.resize1 {
    width: 400px;
    height: auto;
    float: right;
    position: relative;
}

.resize2 {
    width: 200px;
    height: auto;
    float: inside;
    position: relative;
}

.resize3 {
    width: 200px;
    height: auto;
    float: inside;
    position: relative;
}

.resize4{
    width: 200px;
    height: auto;
    float: inside;
    position: relative;
}

.resize5 {
    width: 200px;
    height: auto;
    float: inside;
    position: relative;
}

.resize6 {
    width: 300px;
    height: auto;
    float: right;
}

.whychoose {
    background-color: rgb(229,241,250);

}

.newcolor2 {
    color:rgb(12,71,116);
    text-align: left;
}

.list {
    color: rgb(113,113,113);
}

.resize6 {
    width: 300px;
    height: auto;
    float: right;
}

.footer ul {
    background-color: rgb(12, 71, 116);
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.resize7 {
    width: 50px;
    height: auto;
    float: right;
}

.resize8 {
    width: 30px;
}

.colortext {
    color: #FFFFFF;
}

.bookNow{
    position: absolute;
    top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.checkin {
    top: 2em;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.3em;

}
.checkin ul {
    list-style-type: none;
    padding: 0;
    background-color: #FFFFFF;
    display:inline-flex;
    border-radius: 0.3em;
}

.checkin ul li{
    text-align: center;
    padding: 0.5em;
    display:inline-block;
    margin: auto;
}

.checkin ul li a {
    text-decoration: none;
    vertical-align: sub;
}

.search {
    background-color: rgb(12,71,116);
    color: #FFFFFF;

}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.imgwhychoose {
    position: absolute;
    top: 5em;
    right: 1em;
    width: 50%;
}



